@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  --surface: #FFFFFF;
  --00-on-surface-high-emphasis: #000000;
  --01-primary-500: #6200EE;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.25em;
  text-align: center;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin: 1em 0;
  cursor: pointer;
  user-select: none;
  display: flex;
  max-width: 360px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--surface, #FFF);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.header--subhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
  margin-left: 1em;
  text-align: left;
}

.header--subhead--h6 {
  color: var(--00-on-surface-high-emphasis, rgba(0, 0, 0, 0.87));
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.7em 0;
  letter-spacing: 0.15px;
}

.header--subhead--p {
  color: var(--00-on-surface-high-emphasis, rgba(0, 0, 0, 0.87));
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.wrapper--image {
  width: 100%;
  height: 400px;
  flex-shrink: 0;
}

.wrapper--buttons {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.wrapper--buttons--button {
  color: var(--01-primary-500, #6200EE);
  text-align: center;
  margin: 0.3em;
  padding: 0.7em;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}